@use '/src/styles/abstracts/variables' as *;

.loginPage {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginCards {
	width: 100%;
	max-width: 448px;
	header,
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
	}
	header {
		.shieldIcon {
			margin-bottom: 16px;
			width: 48px;
			height: 48px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--color-shield-bg);
			border-radius: 50%;
		}
		h1 {
			font-size: 24px;
			line-height: 32px;
			font-weight: 700;
			letter-spacing: -0.6px;
		}
		p {
			font-size: 16px;
			text-align: center;
		}
		padding-bottom: 8px;
	}
	form {
		.headingWrapper {
			display: flex;
			align-items: center;
			gap: 8px;
			margin-bottom: 24px;
		}
		.dot {
			background-color: var(--color-black);
			width: 8px;
			height: 8px;
			border-radius: 50%;
		}
		h2 {
			font-size: 24px;
			line-height: 24px;
			font-weight: 600;
			letter-spacing: -0.6px;
		}
		.inputGroup {
			margin-bottom: 16px;
		}
		.labelWrapper {
			display: flex;
			align-items: center;
			gap: 8px;
			margin-bottom: 8px;
		}
		.userIcon,
		.lockIcon {
			width: 16px;
			height: 16px;
		}
		label {
			line-height: 14px;
			font-weight: 500;
		}
		.loginButton {
			width: 100%;
			background-color: var(--color-black);
			color: var(--color-white);
			&:hover {
				opacity: 0.9;
			}
		}
	}
	.status {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		.statusIndicator {
			display: inline-block;
			margin-right: 8px;
			background-color: var(--color-green);
			width: 8px;
			height: 8px;
			border-radius: 50%;
		}
		p {
			font-size: 14px;
			line-height: 20px;
			text-align: center;
		}
	}
	.backToHome {
		line-height: 20px;
		&:visited {
			color: inherit;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
