.relay {
	&.active {
		border-color: var(--color-primary);
	}
	.heading,
	.control {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	.heading {
		margin-bottom: 12px;
		.powerIcon {
			padding: 8px;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background-color: var(--color-gray);
			color: var(--color-muted);

			&.active {
				background-color: var(--color-primary);
				color: var(--color-white);
			}
		}
		h3 {
			font-size: 18px;
			font-weight: 600;
			line-height: 28px;
			flex-grow: 1;
			letter-spacing: -0.6px;
		}
		.toggleAction {
			font-size: 12px;
			font-weight: 600;
			letter-spacing: -0.6px;
			line-height: 16px;
			background-color: var(--color-gray);
			padding: 2px 10px;
			border-radius: 50px;
			border: 1px solid var(--color-gray);

			&.active {
				background-color: var(--color-primary);
				border-color: var(--color-primary);
				color: var(--color-white);
			}
		}
	}
	.control {
		.dot {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: var(--color-muted);

			&.active {
				background-color: var(--color-primary);
			}
		}
		.status {
			flex-grow: 1;
		}
		.toggleButton {
			width: 44px;
			height: 24px;
			border-radius: 50px;
			border: 2px solid var(--color-gray);
			background-color: var(--color-gray);
			cursor: pointer;
			position: relative;
			transition: all 0.3s ease;
			outline: none;

			&:hover {
				opacity: 0.8;
			}

			&.active {
				background-color: var(--color-primary);
				border-color: var(--color-primary);
			}

			.slider {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: var(--color-white);
				position: absolute;
				top: 0;
				left: 1px;
				transition: transform 0.3s ease;
			}

			&.active .slider {
				transform: translateX(19px);
			}
		}
	}
}
