@use '../../styles/abstracts/mixins' as *;

.mainContent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto 1fr;
	@include media-m {
		grid-template-columns: repeat(2, 1fr);
	}
	@include media-s {
		grid-template-columns: repeat(1, 1fr);
	}

	.saveMqttButton,
	.saveSafetyButton,
	.saveProtectionButton {
		background-color: var(--color-black);
		border-color: var(--color-black);
		color: var(--color-white);
		&:hover {
			background-color: var(--color-black);
			border-color: var(--color-black);
			opacity: 0.8;
		}
	}
	.rebootButton {
		background-color: var(--color-danger);
		border-color: var(--color-danger);
		color: var(--color-white);
		&:hover {
			background-color: var(--color-danger);
			border-color: var(--color-danger);
			opacity: 0.8;
		}
	}
}
.mqttSettings,
.safetyStates,
.overloadProtection,
.systemActions {
	height: fit-content;
	label {
		font-weight: 500;
	}
}
.headingWrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}
.dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--color-black);
}
.controlGroup {
	display: flex;
	justify-content: space-between;
}
.inputGroup {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.mqttSettings {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	@include media-m {
		grid-row: 1 / 5;
	}
	.dot {
		background-color: var(--color-info);
	}
}
.safetyStates {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	@include media-s {
		grid-column: auto;
		grid-row: auto;
	}
	.dot {
		background-color: var(--color-warning);
	}
	h3 {
		margin-top: 8px;
	}
}

.overloadProtection,
.systemActions {
	.dot {
		background-color: var(--color-danger);
	}
}
.rebootIcon {
	width: 16px;
	height: 16px;
	margin-right: 8px;
}
