.stats,
.inputs,
.monitoring {
	.content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.relays {
	.content {
		display: flex;
		flex-direction: row;
	}
}

.stats,
.inputs,
.monitoring,
.relays {
	.content {
		gap: 16px;
	}
}

.wifiIcon {
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	color: var(--color-primary);
}

.mqttStatus,
.systemStatus {
	background-color: var(--color-primary);
	width: fit-content;
	color: var(--color-white);
	padding: 2px 10px;
	font-size: 12px;
	font-weight: 600;
	border: 1px solid var(--color-primary);
	border-radius: 50px;
	line-height: 16px;
	margin-top: 14px;
}
.activeRelays {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	margin-top: 12px;
}
.totalRelays {
	font-size: 12px;
	line-height: 16px;
}
.parameterDetails {
	.heading {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-bottom: 12px;
		.iconWrapper {
			width: 24px;
			height: 24px;
		}
	}
	h3 {
		font-size: 24px;
		font-weight: 600;
	}
}
