@use '../../styles/abstracts/mixins' as *;

.dashboard {
	padding-bottom: 0;
}
.inputs,
.monitoring {
	.content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
		@include media-m {
			grid-template-columns: repeat(2, 1fr);
		}
		@include media-s {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.parameterDetails {
	.heading {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-bottom: 12px;
		.iconWrapper {
			width: 24px;
			height: 24px;
		}
	}
	h3 {
		font-size: 24px;
		font-weight: 600;
	}
}
.info {
	h2 {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 8px;
	}
	.deviceInfoList {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include media-s {
			grid-template-columns: repeat(1, 1fr);
		}
		gap: 16px;
		.deviceInfoKey {
			font-weight: 500;
			color: var(--color-muted);
		}
		.deviceInfoValue {
			display: block;
			font-size: 16px;
			line-height: 24px;
		}
	}
}
