// SCSS breakpoint variables
$bp-s: 768px;
$bp-m: 1024px;
$bp-l: 1440px;

@mixin media-l {
	@media (max-width: $bp-l) {
		@content;
	}
}

@mixin media-m {
	@media (max-width: $bp-m) {
		@content;
	}
}

@mixin media-s {
	@media (max-width: $bp-s) {
		@content;
	}
}
