@use '../../styles/abstracts/mixins' as *;

.relays {
	.content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 16px;
		@include media-m {
			grid-template-columns: repeat(2, 1fr);
		}
		@include media-s {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.relaysStatus {
		&.loading {
			background-color: var(--color-warning);
			border-color: var(--color-warning);
		}
		&.failed {
			background-color: var(--color-danger);
			border-color: var(--color-danger);
		}
	}
}
