// src/styles/_layout.scss
@use './variables' as v;
@use './mixins' as m;

.container {
	max-width: v.$container-max-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: v.$gutter;
	padding-right: v.$gutter;
}

/* Основные регионы приложения */
.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	z-index: v.$z-header;
	@include m.elevation(1);
}

.main {
	flex: 1 1 auto;
	padding: v.rem(20) 0;
}

.footer {
	padding: v.rem(12) 0;
	background: v.color(surface);
	border-top: 1px solid v.color(border);
}

/* Простая сетка на 2 колонки */
.grid-2 {
	display: grid;
	grid-template-columns: 1fr;
	gap: v.$gutter;

	@include m.respond(md) {
		grid-template-columns: 2fr 1fr;
	}
}

/* Утилиты */
// .row {
// 	display: flex;
// 	gap: v.$gutter;
// }
// .col {
// 	flex: 1;
// }

.page {
	max-width: 1200px;
	padding: 24px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

