@use './variables' as v;
@use './mixins' as m;
@use './reset';
@use './typography';
@use './layout';

* {
	box-sizing: border-box;
}

html {
	/* резервируем место под скроллбар всегда */
	scrollbar-gutter: stable;
}

body {
	background-color: #fff;
	font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	margin: 0;
}

a {
	// color: $primary-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}
