@use './abstracts/variables';
@use './abstracts/mixins' as *;
@use './base/reset';
@use './base/fonts';
@use './layout';

html {
	scrollbar-gutter: stable;
}

body {
	background-color: var(--color-bg);
}

main {
	display: flex;
	flex-direction: column;
	padding-block: 24px;
	gap: 24px;
}

section {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.container {
	max-width: var(--container-max);
	padding: var(--container-pad);
	margin-inline: auto;
}

.card {
	width: 100%;
	background: var(--color-bg);
	padding: 24px;
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-card);
	transition: var(--transition-base) ease;
	&:hover {
		box-shadow: var(--shadow-card-hover);
	}
	@include media-s {
		padding: 12px;
	}
}

.status {
	width: fit-content;
	padding: 2px 10px;
	font-size: 12px;
	font-weight: 600;
	line-height: 16px;
	border-radius: 50px;
	color: var(--color-white);
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

.button {
	height: 44px;
	padding: 0 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	color: var(--color-text);
	cursor: pointer;
	font-weight: 500;
	line-height: 20px;
	border: var(--border);
	border-radius: 6px;
	transition: var(--transition-base) ease;

	&:hover {
		background-color: var(--color-grey);
	}
}
