@use './abstracts/variables';
@use './abstracts/mixins' as *;
@use './base/reset';
@use './base/fonts';
@use './layout';

html {
	scrollbar-gutter: stable;
}

body {
	background-color: var(--color-bg);
}

main {
	display: flex;
	flex-direction: column;
	padding-block: 24px;
	gap: 24px;
}

section {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.container {
	max-width: var(--container-max);
	padding: var(--container-pad);
	margin-inline: auto;
}

.card {
	width: 100%;
	background: var(--color-bg);
	padding: 24px;
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-card);
	transition: var(--transition-base) ease;
	&:hover {
		box-shadow: var(--shadow-card-hover);
	}
}
