@use '/src/styles/abstracts/variables' as *;
@use '/src/styles/abstracts/mixins' as *;

.header {
	position: relative;
	display: flex;
	gap: 16px;
	justify-content: space-between;
	align-items: center;

	.pageDescription {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin-right: auto;
	}
	.burgerMenuButton {
		aspect-ratio: 1 / 1;
		padding: 0;
		display: none;

		@include media-m {
			display: flex;
		}
	}
}

.nav {
	gap: 8px;
	display: flex;
	align-items: center;

	@include media-m {
		display: none;
		flex-direction: column;
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translateY(100%);
		.link {
			width: 100%;
			background-color: var(--color-bg);
		}
	}
}

.icon {
	height: 16px;
	width: 16px;
}

.header .clear {
	background-color: var(--color-danger);
	color: var(--color-white);
	border: none;
	&:hover {
		background-color: var(--color-danger);
		opacity: 0.9;
	}
}
