@use '/src/styles/abstracts/variables' as *;

.header {
	display: flex;
	justify-content: space-between;
}
.heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	p {
		font-size: 16px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.nav {
	display: flex;
	align-items: center;
	gap: 8px;
}

.icon {
	height: 16px;
	width: 16px;
}
.header .logo,
.header .backArrow {
	width: 44px;
	padding: 0;
}

.header .clear {
	background-color: var(--color-danger);
	color: var(--color-white);
	border: none;
	&:hover {
		background-color: var(--color-danger);
		opacity: 0.9;
	}
}
