.mainContent {
	padding-bottom: 0;
}
.logsCounters {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.counterHeading {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 12px;
}
.infoIcon,
.warningIcon,
.errorIcon {
	width: 16px;
	height: 16px;
}
.infoIcon {
	color: var(--color-info);
}
.warningIcon {
	color: var(--color-warning);
}
.errorIcon {
	color: var(--color-danger);
}
.counterValue {
	font-size: 24px;
	font-weight: var(--w-bold);
	line-height: 32px;
}

.filters {
	gap: 20px;
	h2 {
		font-size: 24px;
		line-height: 24px;
		letter-spacing: -0.6px;
	}
	.searchInput {
		padding-left: 36px;
	}
}
.searchWrapper {
	position: relative;
	margin-right: 8px;
	flex: 1;
}
.searchIcon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	color: var(--color-gray-500);
}

.filters .content {
	display: flex;
	gap: 8px;
	button {
		padding: 8px 16px;
	}
	.active {
		color: var(--color-white);
		&.allButton {
			background-color: var(--color-black);
		}
		&.infoButton {
			background-color: var(--color-info);
		}
		&.warningButton {
			background-color: var(--color-warning);
			color: var(--color-black);
		}
		&.errorButton {
			background-color: var(--color-danger);
		}
	}
}
.logEntries {
	h2 {
		font-size: 24px;
		line-height: 24px;
		letter-spacing: -0.6px;
	}
	.logsTable {
		th,
		td {
			text-align: left;
			padding: 16px;
			line-height: 20px;
			&.timestamp {
				width: 180px;
			}
			&.level {
				width: 120.5px;
			}
			&.source {
				width: 150px;
			}
		}
		th {
			height: 48px;
			color: var(--color-muted);
			font-weight: 500;
		}
		td {
			border-top: 1px solid var(--color-border);
			&.timestamp {
				font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
					'Liberation Mono', 'Courier New', monospace;
			}
		}
		.levelIcon {
			width: 16px;
			height: 16px;
			margin-right: 4px;
		}
		.levelStatus {
			display: inline-flex;
			&.info {
				background-color: var(--color-info);
				border-color: var(--color-info);
			}
			&.warning {
				background-color: var(--color-warning);
				border-color: var(--color-warning);
				color: var(--color-text);
			}
			&.error {
				background-color: var(--color-danger);
				border-color: var(--color-danger);
			}
		}
	}
}
